{% extends '_layout.njk' %}

{% block content %}
  <ul class="list-group">
    {% for listItem in list.items %}
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="{{ listItem.completed }}" id="{{ listItem.id }}">
      <label class="form-check-label" for="{{ listItem.id }}">{{ listItem.name}}</label>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
